@media screen and (min-width: 1100px ){
    .content-search{
        top: 177px;
    }
}
@media screen and (max-width: 1100px ){
    .logotipo{
        margin-left: 11%;
        margin-top: 6%;
    }
    .content-search{
        top: 226px;
    }
}
@media screen and (max-width: 800px ){
    .main .articulos{    
        width:100%;
        margin: center;
    }
    aside{
        margin:20px auto;
	    width:90%;
    }
    .content-search{
        top: 35%;
    }
}
@media screen and (max-width: 568px ){
    .logotipo{
        opacity: 0;
    }
    .wrapper {
        width: 78%;
        top: 4%;
    }
}
@media screen and (max-width: 280px ){
    .titular{
        font-size: 0px;
    }
}
@media screen and (max-width: 280px ){
    .letter{
        font-weight: 600;
    }
}
@media screen and (max-width: 216px ){
    .letter{
        font-weight: 300;
    }
}

@media screen and (min-width: 568px ){
    .wrapper {
        width: 41%;
        top: 5%;
    }
}